<div id="surface" class="tab-pane active">

  <h3>Surface</h3>

  <form class="form-horizontal">

    <!-- Start Location -->
    <div class="control-group">
      <label class="control-label" for="inputX0">X<sub>0</sub></label>
      <div class="controls">
        <input type="text" id="inputX0">
        <button class="btn btn-secondary"><i class="icon-map-marker"></i></button>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputY0">Y<sub>0</sub></label>
      <div class="controls">
        <input type="text" id="inputY0">
        <button class="btn btn-secondary"><i class="icon-map-marker"></i></button>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputZ0">Z<sub>0</sub></label>
      <div class="controls">
        <input type="text" id="inputZ0">
        <button class="btn btn-secondary"><i class="icon-map-marker"></i></button>
      </div>
    </div>

    <!-- End Location -->
    <div class="control-group">
      <label class="control-label" for="inputX">&Delta; X</label>
      <div class="controls">
        <input type="text" id="inputX">
        <button class="btn btn-secondary"><i class="icon-map-marker"></i></button>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputY">&Delta; Y</label>
      <div class="controls">
        <input type="text" id="inputY">
        <button class="btn btn-secondary"><i class="icon-map-marker"></i></button>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputZ">&Delta; Z</label>
      <div class="controls">
        <input type="text" id="inputZ">
        <button class="btn btn-secondary"><i class="icon-map-marker"></i></button>
      </div>
    </div>

    <!-- Tool Definition -->
    <div class="control-group">
      <label class="control-label" for="endmill">Endmill Diameter</label>
      <div class="controls">
        <input type="text" id="endmill">
      </div>
    </div>

    <!-- Step Resolution -->
    <div class="control-group">
      <label class="control-label" for="zStep">Z-Step</label>
      <div class="controls">
        <input type="text" id="zStep">
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Generate Gcode</button>
    </div>

  </form>

</div>
