<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#slots">Slots</a></li>
  <li><a data-toggle="tab" href="#joinery">Joinery</a></li>
  <li><a data-toggle="tab" href="#fasteners">Fastener Layout</a></li>
  <li><a data-toggle="tab" href="#surfaces">Surfaces & Pockets</a></li>
</ul>

<div class="tab-content">

  <div id="surfaces" class="tab-pane">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#surface">Surface</a></li>
      <li><a data-toggle="tab" href="#depth_map">Depth Map</a></li>
    </ul>
    <div class="tab-content">
      {% include "surfaces/surface.jinja2" %}
      <div id="depth_map" class="tab-pane">
        <h3>Depth Map</h3>
      </div>
    </div>
  </div>

  <div id="fasteners" class="tab-pane">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#bolt_circle">Bolt Circle</a></li>
      <li><a data-toggle="tab" href="#bolt_grid">Bolt Grid</a></li>
    </ul>
    <div class="tab-content">
      <div id="bolt_circle" class="tab-pane active">
        <h3>Bolt Circle</h3>
      </div>
      <div id="bolt_grid" class="tab-pane">
        <h3>Bolt Grid</h3>
      </div>
    </div>
  </div>

  <div id="slots" class="tab-pane active">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#horizontal_slot">Horizontal</a></li>
    </ul>
    <div id="horizontal_slot" class="tab-pane active">
        <h3>Horizontal Slot</h3>
        <input type="checkbox" data-bind="checked: cut"/> Cut (Use G1 as opposed to G0)<br/>
        <input type="checkbox" data-bind="checked: offset"/> Enable cutter offset for moves<br/>
        <br/>
        <button type="button" class="btn btn-default" data-bind="click: trace">Trace</button> (Start to the left of the material)<br/>
        <br/>
        <input data-bind="value: hMill" placeholder="hMill"> Mill Height<br>
        <input data-bind="value: dMill" placeholder="dMill"> Mill Diameter<br>
        <input data-bind="value: dProbe" placeholder="dProbe"> Probe Diameter<br>
        <br/>
        <input data-bind="value: xMax" placeholder="xMax">
            <button type="button" class="btn btn-default" data-bind="click: findXmax">Probe</button>
            <button type="button" class="btn btn-default" data-bind="click: gotoXmax">Go</button>
            xMax<br>
        <input data-bind="value: xMid" placeholder="xMid">
            <button type="button" class="btn btn-default" data-bind="click: findXmid">Probe</button>
            <button type="button" class="btn btn-default" data-bind="click: gotoXmid">Go</button>
            xMid<br>
        <input data-bind="value: xMin" placeholder="xMin">
            <button type="button" class="btn btn-default" data-bind="click: findXmin">Probe</button>
            <button type="button" class="btn btn-default" data-bind="click: gotoXmin">Go</button>
            xMin<br>
        <br/>
        <input data-bind="value: yMax" placeholder="yMax">
            <button type="button" class="btn btn-default" data-bind="click: findYmax">Probe</button>
            <button type="button" class="btn btn-default" data-bind="click: gotoYmax">Go</button>
            yMax<br>
        <input data-bind="value: yMid" placeholder="yMid">
            <button type="button" class="btn btn-default" data-bind="click: findYmid">Probe</button>
            <button type="button" class="btn btn-default" data-bind="click: gotoYmid">Go</button>
            yMid (Probes inside jaws)<br>
        <input data-bind="value: yMin" placeholder="yMin">
            <button type="button" class="btn btn-default" data-bind="click: findYmin">Probe</button>
            <button type="button" class="btn btn-default" data-bind="click: gotoYmin">Go</button>
            yMin<br>
        <br/>
        <input data-bind="value: zMax" placeholder="zMax">
            <button type="button" class="btn btn-default" data-bind="click: findZmax">Probe</button>
            <button type="button" class="btn btn-default" data-bind="click: gotoZmax">Go</button>
            zMax<br>
        <input data-bind="value: zMin" placeholder="zMin">
            <button type="button" class="btn btn-default" data-bind="click: findZmin">Probe</button>
            <button type="button" class="btn btn-default" data-bind="click: gotoZmin">Go</button>
            zMin<br>
        <br/>
        <button type="button" class="btn btn-default" data-bind="click: stage">Stage</button><br>
        <button type="button" class="btn btn-default" data-bind="click: run">Run</button><br>
    </div>
  </div>

  <div id="joinery" class="tab-pane">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#bridle_joint">Bridle</a></li>
      <li><a data-toggle="tab" href="#dado_joint">Dado</a></li>
      <li><a data-toggle="tab" href="#dovetail_joint">Dovetail</a></li>
      <li><a data-toggle="tab" href="#dowel_joint">Dowel</a></li>
      <li><a data-toggle="tab" href="#finger_joint">Finger</a></li>
      <li><a data-toggle="tab" href="#lap_joint">Lap</a></li>
      <li><a data-toggle="tab" href="#mt_joint">M & T</a></li>
      <li><a data-toggle="tab" href="#splice_joint">Splice</a></li>
      <li><a data-toggle="tab" href="#tg_joint">T & G</a></li>
    </ul>
    <div class="tab-content">
      <div id="bridle_joint" class="tab-pane active">
        <h3>Bridle Joint</h3>
      </div>
      <div id="dado_joint" class="tab-pane">
        <h3>Dado Joint</h3>
      </div>
      <div id="dovetail_joint" class="tab-pane">
        <h3>Dovetail Joint</h3>
      </div>
      <div id="dowel_joint" class="tab-pane">
        <h3>Dowel Joint</h3>
      </div>
      <div id="finger_joint" class="tab-pane">
        <h3>Finger Joint</h3>
      </div>
      <div id="lap_joint" class="tab-pane">
        <h3>Lap Joint</h3>
      </div>
      <div id="mt_joint" class="tab-pane">
        <h3>Mortise & Tenon Joint</h3>
      </div>
      <div id="splice_joint" class="tab-pane">
        <h3>Splice Joint</h3>
      </div>
      <div id="tg_joint" class="tab-pane">
        <h3>Tongue & Groove Joint</h3>
      </div>
    </div>
  </div>

</div>
